**UM MSBA - BGEN 632**
**02 Independent Lab**
**Magdalena Gerharter**
**10.03.2025**

# Celsius to Fahrenheit and Kelvin Converter

Welcome to my Celsius to Fahrenheit Converter. This converter will be based on the following equation:
Fahrenheit = (9/5) * Celsius + 32

## Celsius to Fahrenheit

In [5]:
celsius = 0.0

In [6]:
fahrenheit = 0.0

We use float because we have a number with decimals

In [8]:
text = float(input("Please provide a value, in Celsius, to convert :\n"))

Please provide a value, in Celsius, to convert :
 30

In [9]:
celsius = text

In [10]:
fahrenheit = (9/5)*celsius+32

In [11]:
print(f"{celsius} degrees celsius is {fahrenheit} degrees fahrenheit.")

30.0 degrees celsius is 86.0 degrees fahrenheit.

In [12]:
int_fahrenheit = int(fahrenheit)

I am using type() to check the data type

In [14]:
type(int_fahrenheit)

int

In [15]:
f"Converted fahrenheit in integer: {int_fahrenheit}"

'Converted fahrenheit in integer: 86'

## Celsius to Kelvin

In [17]:
kelvin = celsius + 273.15

In [18]:
print(f"{celsius} degress Celsius is {fahrenheit} degrees Fahrenheit which is {kelvin} degrees Kelvin.")

30.0 degress Celsius is 86.0 degrees Fahrenheit which is 303.15 degrees Kelvin.

## Comparison operators

### Second set of values

In [21]:
celsius_two = 0.0

In [22]:
text_two = float(input("Please provide a second value, in Celsius, to convert :\n"))

Please provide a second value, in Celsius, to convert :
 20

In [23]:
celsius_two = text_two

In [24]:
fahrenheit_two = (9/5) * celsius_two + 32

In [25]:
kelvin_two = celsius_two + 273.15

In [26]:
print(f"Second set of values: {celsius_two} degrees Celsius is {fahrenheit_two} degrees Fahrenheit which is {kelvin_two} degrees Kelvin.")

Second set of values: 20.0 degrees Celsius is 68.0 degrees Fahrenheit which is 293.15 degrees Kelvin.

### Comparison of variables

#### Celsius

In [29]:
if celsius > celsius_two: print(f"The original value of {celsius} is greater than the new value of {celsius_two}.")

elif celsius < celsius_two: print(f"The original value of {celsius} is lesser than the new value of {celsius_two}.")

else: print(f"The original value of {celsius} is equal to the new value of {celsius_two}.")

The original value of 30.0 is greater than the new value of 20.0.

#### Fahrenheit

In [31]:
if fahrenheit >= fahrenheit_two: print(f"The original value of {fahrenheit} is greater than or equal to the new value of {fahrenheit_two}.")

else: print(f"The original value of {fahrenheit} is lesser than the new value of {fahrenheit_two}.")

The original value of 86.0 is greater than or equal to the new value of 68.0.

#### Kelvin

In [33]:
if kelvin <= kelvin_two: print(f"The original value of {kelvin} is lesser than or equal to the new value of {kelvin_two}.")

elif kelvin < kelvin_two: print(f"The original value of {kelvin} is lesser than the new value of {kelvin_two}.")

else: print(f"The original value of {kelvin} is not equal to  the new value of {kelvin_two}.")

The original value of 303.15 is not equal to  the new value of 293.15.

## Logical operators

### and

In [36]:
print("celsius > celsius_two and fahrenheit < fahrenheit_two")

celsius > celsius_two and fahrenheit < fahrenheit_two

In [37]:
if celsius > celsius_two and fahrenheit < fahrenheit_two: print("Python spreaks the truth!")

else: print("Python lies!")

Python lies!

### or

In [39]:
print("celsius == celsius_two or kelvin != kelvin_two")

celsius == celsius_two or kelvin != kelvin_two

In [40]:
if celsius == celsius_two or kelvin != kelvin_two: print("Python spreaks the truth!")

else: print("Python lies.")

Python spreaks the truth!